.avatar {
  margin-bottom: 15px;
}
body {
  padding: 20px;
}

#headBar {
  height: 50px;
  width: 100%;
  display: flex;
}

.logo {
  height: 50px;
  margin-left: 5px;
  margin-right: 5px;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: white;
  color: rgb(89, 197, 177);
}

a {
  color: rgb(26, 26, 26);
}

a:hover {
  color: pink;
}

.btn-primary {
  background-color: rgb(89, 197, 177);
}

.modal-title {
  text-align: center;
}

nav {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.detailAbout {
  width: 40%;
  text-align: right;
}

.rowAbout td {
  padding: 5px;
  border-color: rgb(77, 135, 216);
}
.avatar {
  margin-bottom: 15px;
}
body {
  padding: 20px;
}

#headBar {
  height: 50px;
  width: 100%;
  display: flex;
}

.logo {
  height: 50px;
  margin-left: 5px;
  margin-right: 5px;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: white;
  color: rgb(89, 197, 177);
}

a {
  color: rgb(26, 26, 26);
}

a:hover {
  color: pink;
}

.btn-primary {
  background-color: rgb(89, 197, 177);
}

.modal-title {
  text-align: center;
}

nav {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.detailAbout {
  width: 40%;
  text-align: right;
}

.chart:hover {
  background-color: rgb(241, 250, 248) !important;
}

.card {
  height: 200px;
  width: 180px;
  margin: 5px;
  padding: 5px;
}
.card-body {
  background-color: #ebebeb;
}
/* .training{
            background-color: rgb(242,113,136);
        } */

.card-title {
  font-size: 15px;
  margin-bottom: 0px;
}
.card-text {
  font-size: 12px;
  margin-bottom: 0px;
  color: black;
}
.card-cat {
  font-size: 12px;
}
.card-img-top {
  margin: auto;
  width: 170px;
  height: 130px;
  object-fit: cover;
}

.badges {
  width: 28px;
  height: 28px;
  margin: 3px;
}
.assess {
  width: 350px !important;
  height: 300px !important;
}

.proceed {
  background-color: rgb(244, 74, 64);
  color: white;
  margin-bottom: 0px;
}

.tproceed {
  background-color: rgb(127, 174, 242);
  color: black;
  margin-bottom: 0px;
}

.view-profile{
  color:rgb(241,250,248)!important; 
  border: 0px; 
  padding:0px; 
  margin:0px;
  
}

.view-profile:hover{
  color: blue;
}

.create {
	height: 20px;
	width:40px;
	font-size:10px;
	border-radius: 2px;
	color: white;
	padding:0px;
	
}

.table-striped {
	width: 100%;
}

