<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Final</display-name>
  <welcome-file-list>
    <welcome-file>start.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Signup</display-name>
    <servlet-name>Signup</servlet-name>
    <servlet-class>home.Signup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Signup</servlet-name>
    <url-pattern>/Signup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfileController</display-name>
    <servlet-name>ProfileController</servlet-name>
    <servlet-class>Profile.ProfileController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfileController</servlet-name>
    <url-pattern>/ProfileController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FileUploadHandler</display-name>
    <servlet-name>FileUploadHandler</servlet-name>
    <servlet-class>fileUpload.FileUploadHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileUploadHandler</servlet-name>
    <url-pattern>/FileUploadHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>imgUpload</display-name>
    <servlet-name>imgUpload</servlet-name>
    <servlet-class>fileUpload.imgUpload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>imgUpload</servlet-name>
    <url-pattern>/imgUpload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sasa</display-name>
    <servlet-name>sasa</servlet-name>
    <servlet-class>fileUpload.sasa</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sasa</servlet-name>
    <url-pattern>/sasa</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>home.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClassView</display-name>
    <servlet-name>ClassView</servlet-name>
    <servlet-class>instructor.ClassView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClassView</servlet-name>
    <url-pattern>/Instructor/ClassView</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddClass</display-name>
    <servlet-name>AddClass</servlet-name>
    <servlet-class>instructor.AddClass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddClass</servlet-name>
    <url-pattern>/Instructor/AddClass</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignUpInc</display-name>
    <servlet-name>SignUpInc</servlet-name>
    <servlet-class>home.SignUpInc</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUpInc</servlet-name>
    <url-pattern>/SignUpInc</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Dashboard</display-name>
    <servlet-name>Dashboard</servlet-name>
    <servlet-class>admin.Dashboard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Dashboard</servlet-name>
    <url-pattern>/Admin/Dashboard</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUser</display-name>
    <servlet-name>DeleteUser</servlet-name>
    <servlet-class>admin.DeleteUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUser</servlet-name>
    <url-pattern>/Admin/DeleteUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewInstructor</display-name>
    <servlet-name>ViewInstructor</servlet-name>
    <servlet-class>admin.ViewInstructor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewInstructor</servlet-name>
    <url-pattern>/Admin/ViewInstructor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AcceptPending</display-name>
    <servlet-name>AcceptPending</servlet-name>
    <servlet-class>admin.AcceptPending</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AcceptPending</servlet-name>
    <url-pattern>/Admin/AcceptPending</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TrainAssess</display-name>
    <servlet-name>TrainAssess</servlet-name>
    <servlet-class>admin.TrainAssess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TrainAssess</servlet-name>
    <url-pattern>/Admin/TrainAssess</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Feedback</display-name>
    <servlet-name>Feedback</servlet-name>
    <servlet-class>admin.Feedback</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Feedback</servlet-name>
    <url-pattern>/Admin/Feedback</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContentManagement</display-name>
    <servlet-name>ContentManagement</servlet-name>
    <servlet-class>admin.ContentManagement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContentManagement</servlet-name>
    <url-pattern>/Admin/ContentManagement</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadLogo</display-name>
    <servlet-name>UploadLogo</servlet-name>
    <servlet-class>admin.UploadLogo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadLogo</servlet-name>
    <url-pattern>/Admin/UploadLogo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>home.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Profile</display-name>
    <servlet-name>Profile</servlet-name>
    <servlet-class>user.Profile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Profile</servlet-name>
    <url-pattern>/User/Profile</url-pattern>
  </servlet-mapping>
</web-app>